.chat{
    background-color: #00CC00;
}

.nav_bar {
    list-style-type: none;
    margin:0;
    padding:0;
    width:16.6666667%;
    background-color: #f1f1f1;
    display: block;

}

#fb_button{
	width: 30%;
	height: auto;
}
	
#chat_log{
    margin-top: 80%;
}
#chat_box{
    margin-top: 20%;
}


#chat_application {
    list-style-type: none;
    padding: 0;
    font-size: larger;
    background-color: #f1f1f1;
    width:58.3333333333%;
}

#info {
    list-style-type: none;
    margin-left:75%;
    padding: 0;
    background-color: #f1f1f1;
    width:25%;

}

.footer{
    text-align: center;
}


.fb_button img{
	width:100%;
	height:auto;
}

#map {
  height: 100%;
  width: 100%;
}

#gmap{
  height: 300px;
  margin: 0;
  padding: 0;
}

#interestLine p{
  display: inline;
}

