/*START: Langing page divs*/
/*END: Langing page divs*/


/*START: Langing page divs*/
.message{
  text-align:center;
}
.logIn{
  text-align: center;
}
.random{
  text-align: center;
}
.signUp{
  text-align: center;
}

/*End: Langing page divs*/

/*START: About page divs*/
.about{
  text-align: left;
}
/*END: About page divs*/

/*START: Statistics page divs*/
.statistics{
}
/*END: Statistics page divs*/

/*START: TOS page divs*/
.tos{
}
/*END: TOS page divs*/
body{
  align-self: auto;
}

footer {
  background-color: #FFFFFF;
  text-align: center;
  align-self: auto;
}
